body{
    background: linear-gradient(160deg, rgba(29,15,13,1) 0%, rgba(190,61,24,1) 25%, rgba(146,48,21,1) 81%, rgba(29,15,13,1) 99%);
    background-repeat: no-repeat;
    /* width: 100vw; */
    /* height: auto; */
    margin: 0;
    padding: 0;
    font-family: "roboto";
    color: #fff;
    height: 100vh;

}
.content{
    margin: 0;
    padding: 0;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.heard{
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    height: 2em;
    margin-bottom: 0.1em;
}
.logo{
    /* width: 10em;
    height: 1em; */
    font-size: 20px;
    color: #fff;
}
nav ul{
    display: flex;
    color: #fff;
}
nav ul li{
    padding: 0 2em;
}
nav ul li a{
    color: #fff;
}
.connexion{
    margin-top: 0.4em;
    width: 5em;
    height: 1em;
    padding: 1.4em;
    border: 1px #fff solid;
    border-radius: 4em;
    text-align: center;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}
.connexion:hover{
    background-color: #fff;
    color: #be3d18;
}
.week{
    margin-top: 0;
    text-align: center;
    height: 5em;
    margin-bottom: 0;

}
.week h4{
    font-size: 3em;
    margin-bottom: 0;
}
.week p{
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 0;
}
.img-centre{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.img-centre img{
    max-width: 600px;
}
.bouton-nav img{
    position: relative;
}
.left-nav {
    bottom: 15em;
    margin-left: 2em;
    cursor: pointer;
}
.right-nav {
    bottom: 15em;
    float: right;
    margin-right: 2em;
    cursor: pointer;
}
.textbottom{
    width: 18em;
    margin-left: 2em;
    position: relative;
    bottom: 8em;
}
.lecteur{
    position: relative;
    bottom: 10em;
    float: right;
    margin-right: 2em;
}
.hidden{height: 0;}